@using MiniSite.Data
@inject DataContext DataContext
@inject UserContext UserContext

<h3>Welcome, @UserContext.CurrentUser.Name</h3>
@page "/main"

<div style="display: flex;">
    <div style="flex: 1;">
        <UserListComponent></UserListComponent>
    </div>
    <div style="flex: 1;">
        <ChatComponent></ChatComponent>
    </div>
</div>

@code {

}
