@using MiniSite.Data
@inject DataContext DataContext
@inject UserContext UserContext

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <div class="RegBox">
        <h3>Log In</h3>
        <div class="Inputs">
            <div class="LoginBox">
                <label>Login</label>
                <input class="inputfield" type="text" @bind="@enteredLogin">
            </div>
            <div class="PasswordBox">
                <label>Password</label>
                <input class="inputfield" type="text" @bind="@enteredPassword">
            </div>
        </div>
        <div class="regbuttons">
            <button @onclick="LoginButton">Log in</button>
            <button @onclick="RegistraionButton">Sign In</button>
        </div>
    </div>
</body>
</html>

@if (showSuccessModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Вход в систему</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseModal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Вы успешно вошли!</p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    private bool showSuccessModal = false;
    string enteredLogin = "";
    string enteredPassword = "";

    private void LoginButton()
    {
        foreach (var user in DataContext.userList)
        {
            if (user.Login == enteredLogin && user.Password == enteredPassword)
            {
                UserContext.SetCurrentUser(user); // TODO: Вроде реализовал хранение
                showSuccessModal = true;
                return;
            }
        }
    }

    private void RegistraionButton()
    {
        NavigationManager.NavigateTo("signin");
    }

    private void CloseModal()
    {
        showSuccessModal = false;
        NavigationManager.NavigateTo("main");
    }
}