@using MiniSite.Data
@inject UsersClass UsersClass
@page "/reg";

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <div class="RegBox">
        <h3>Sign In</h3>
        <div class="Inputs">
            <div class="UserBox">
                <label>User name</label>
                <input class="inputfield" type="text" @bind="@userName">
            </div>
            <div class="LoginBox">
                <label>Login</label>
                <input class="inputfield" type="text" @bind="@enteredLogin">
            </div>
            <div class="PasswordBox">
                <label>Password</label>
                <input class="inputfield" type="text" @bind="@enteredPassword">
            </div>
        </div>
        <div class="regbuttons">
            <button @onclick="RegistraionButton">Sign In</button>
        </div>
    </div>
</body>
</html>

@if (showSuccessModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Завершение регисстрации</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseModal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Профиль успешно создан</p>
                </div>
            </div>
        </div>
    </div>
}

@if (showModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <p>Такой пользователь уже существует</p>
            </div>
        </div>
    </div>
}

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    private bool showSuccessModal = false;
    private bool showModal = false;
    string enteredLogin = "";
    string enteredPassword = "";
    string userName = "";

    private bool CheckListForUsers()
    {
        foreach (var user in UsersClass.userList)
        {
            if (user.Login == enteredLogin)
                return false;
            else
                return true;
        }
        return false;
    }

    private void RegistraionButton()
    {
        if (CheckListForUsers() == false)
            return;
        else
        {
            UsersClass.userList.Add(new User(enteredLogin, enteredPassword, userName));
            showSuccessModal = true;
        }
    }

    private void CloseModal()
    {
        showSuccessModal = false;
        NavigationManager.NavigateTo("");
    }
}