@using MiniSite.Data
@inject DataContext DataContext
@page "/reg";

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <div class="RegBox">
        <h3>Sign In</h3>
        <div class="Inputs">
            <div class="UserBox">
                <label>User name</label>
                <input class="inputfield" type="text" @bind="@userName">
            </div>
            <div class="LoginBox">
                <label>Login</label>
                <input class="inputfield" type="text" @bind="@enteredLogin">
            </div>
            <div class="PasswordBox">
                <label>Password</label>
                <input class="inputfield" type="text" @bind="@enteredPassword">
            </div>
        </div>
        <div class="regbuttons">
            <button @onclick="RegistraionButton">Sign In</button>
        </div>
    </div>
</body>
</html>

@if (showSuccessModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Завершение регистрации</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseModal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Профиль успешно создан</p>
                </div>
            </div>
        </div>
    </div>
}

@if (showModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Неверные данные</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseLoginExceptionModal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Пользователь с таким логином уже существует</p>
                </div>
            </div>
        </div>
    </div>
}

@if (showInvalidModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Неверные данные</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseInvalidModal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Проверьте правильность введенного логина или пароля</p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    private bool showSuccessModal = false;
    private bool showInvalidModal = false;
    private bool showModal = false;
    string enteredLogin = "";
    string enteredPassword = "";
    string userName = "";

    private bool IsValidLogin(string login)
    {
        if (login.Length < 6)
            return false;

        if (char.IsDigit(login[0]))
            return false;

        return true;
    }

    private bool IsValidPassword(string password)
    {
        if (password.Length < 6)
            return false;

        if (!password.Any(char.IsUpper))
            return false;

        if (!password.Any(char.IsDigit))
            return false;

        if (!password.Any(ch => !char.IsLetterOrDigit(ch)))
            return false;

        return true;
    }

    private bool CheckListForUsers()
    {
        foreach (var user in DataContext.userList)
        {
            if (user.Login == enteredLogin)
                return false;
            else
                return true;
        }
        return false;
    }

    private void RegistraionButton()
    {
        if (CheckListForUsers() == false)                      // TODO: Вроде провери гуд
            return;
        else
        {
            if (!IsValidLogin(enteredLogin) || !IsValidPassword(enteredPassword))
            {
                showInvalidModal = true;
                return;
            }
            else
            {
                DataContext.userList.Add(new User(enteredLogin, enteredPassword, userName));
                showSuccessModal = true;
            }     
        }
    }

    private void CloseModal()
    {
        showSuccessModal = false;
        NavigationManager.NavigateTo("");
    }

    private void CloseInvalidModal()
    {
        showInvalidModal = false;
    }

    private void CloseLoginExceptionModal()
    {
        showModal = false;
    }
}